<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>AngularJS</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       
      <script src="/main.js"></script>
       <link rel="stylesheet" type="text/css" href="/main.css">
       
      <head>
   <body ng-app="UserAddressManagement" ng-controller="UserAddressController">
      <h1>
         Cadastro de Endere&ccedil;o
      </h1>
      <form name="userAddressForm" ng-controller="UserAddressController" ng-submit="submitUserAddress()">
         <table border="0">
            <tr>
               <td>Estado</td>
               	<td><select ng-model="stade" ng-options="x for x in stades"></td>
            </tr>
            <tr>
               <td>Cidade</td>
               <td><input type="text" ng-model="city"/></td>
            </tr>
            <tr>
				<td>Bairro</td>
               <td><input type="text" ng-model="neighborhood"  /></td>
            </tr>
            <tr>
                <td>Rua</td>
               <td><input type="text" ng-model="street"  /></td>
            </tr>
            <tr>
				<td>Numero</td>
               <td><input type="text" ng-model="homeNumber" /></td>
            </tr>
            <tr>
                <td>Complemento</td>
               <td><input type="text" ng-model="complement"/></td>
            </tr>
                <tr>
                <td>CEP</td>
               <td><input type="text" ng-model="cep"/></td>
            </tr>
            <td><input type="hidden" ng-model="id"/></td>
            <tr>
               <td colspan="2">
                  <input type="submit" value="Cadastrar Endere&ccedil;o" class="blue-button" />
               </td>
            </tr>
         </table>
      </form>
      <br/>
      <table border="0">
      <tr>
      <td class="col-sm-12">
         <h2>
         Pesquisar Endere&ccedil;o
      </h2>
      </td>
      </tr>
      </table>
      <table border="0">
      	<tr>
      		<td>Id<input type="text" ng-model="findId"/></td>
      		<td><input type="button" value="Pesquisar" id="MyButton" ></td>
      		<td><input type="button" value="Mostrar Todos" id="MyButtonAll" ></td>
      	</tr>
      </table>
      <p>Endere&ccedil;os Cadastrados</p>
      <table border="1">
         <tr>
         	<th>Id</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>Rua</th>
            <th>Numero</th>
            <th>Complemento</th>
            <th>CEP</th>
         </tr>
         <tr ng-repeat="userAddress in userAddresss">
         	<td> {{ userAddress.id}}</td>
            <td> {{ userAddress.stade}}</td>
            <td> {{ userAddress.city}}</td>
            <td >{{ userAddress.neighborhood}}</td>
            <td >{{ userAddress.street}}</td>
            <td >{{ userAddress.homeNumber}}</td>
            <td >{{ userAddress.complement}}</td>
            <td >{{ userAddress.cep}}</td>            
            <td>
            <a ng-click="editUserAddress(userAddress)" class="edit-button">Edit</a>
            </td>
            <td>
            <a ng-click="deleteUserAddress(userAddress.id)" class="delete-button">Delete</a>
            </td>
         </tr>
      </table>
      
      
   </body>
</html>